@import "_imports.scss";
html{
    scroll-behavior: smooth;
}
header{
    background-color: $verde;
    nav{
        .navbar-brand{
            margin: 0%;
            img{
                height: 20vh;
            }
        }
        .navbar-nav{
            padding: 2rem;
            box-sizing: border-box;
            a{
                text-decoration: none;
                color: $verde;
                background-color: white;
                border-radius: 50px;
                padding: .5rem .75rem;
                transition: all 200ms;
                border: 2px white solid;
                font-weight: bold;
                letter-spacing: 1px;
                &:hover{
                    background-color: transparent;
                    color: white;
                }
            }
        }
    }
}
main{
    #about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 2rem;
        height: 70vh;
        h1{
            font-size: 3.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
            @media (max-width:991px) {
                font-size: 3rem;
            }
            @media (max-width:576px) {
                font-size: 2rem;
            }
        }
        p{
            width: 65%;
            text-align: justify;
            font-size: 1.2rem;
            margin-bottom: 2rem;
            @media (max-width:1199px) {
                font-size: 1.1rem;
            }
            @media (max-width:991px) {
                font-size: 1rem;
            }
            @media (max-width:767px) {
                width: 90%;
            }
            @media (max-width:576px) {
                font-size: .9rem;
            }
        }
        img{
            @media (max-width:1399px) {
                height: 10rem;
            }
            @media (max-width:576px) {
                height: 8rem;
            }
        }
    }
    #frescura{
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            position: absolute;
            z-index: 2;
            margin-top: 3rem;
            left: 2rem;
            border-radius: 10px;
            @media (max-width:1399px) {
                height: 25rem;
                left: 4rem;
            }
            @media (max-width:1199px) {
                top: 4rem;
                left: 25rem;
                margin-top: 0%;
            }
            @media (max-width:991px) {
                height: 20rem;
                left: 15rem;
                top: 2rem;
            }
            @media (max-width:767px) {
                left: 5rem;
            }
            @media (max-width:576px) {
                height: 10rem;
                top: 5rem;
                left: 30%;
            }
        }
        div{
            position: absolute;
            background-color: $marron;
            height: 35rem;
            width: 43rem;
            z-index: 1;
            right: 5rem;
            top: 4rem;
            border-radius: 10px;
            padding: 6rem 1.5rem 0 12rem;
            @media (max-width:1399px) {
                height: 25rem;
                width: 33rem;
                padding: 6rem 1.5rem 0 6rem;
            }
            @media (max-width:1199px) {
                margin-top: 7rem;
                left: 2rem;
                top: none;
                padding: 2rem 9rem 0 1rem;
            }
            @media (max-width:991px) {
                height: 30rem;
                padding: 12rem 0rem 0 1rem;
            }
            @media (max-width:767px) {
                width: 28rem;
            }
            @media (max-width:576px) {
                width: 16.5rem;
                padding: 6rem 0rem 0 1rem;
                left: 20%;
            }
            @media (max-width:344px) {
                left: 10%;
            }
            h1{
                font-size: 3.2rem;
                font-weight: bold;
                margin-bottom: 2rem;
                color: white;
                @media (max-width:1399px) {
                    font-size: 2.5rem;
                    margin-bottom: 1rem;
                }
                @media (max-width:576px) {
                    font-size: 2rem;
                }
            }
            p{
                width: 90%;
                text-align: justify;
                font-size: 1.3rem;
                color: white;
                margin-bottom: 3rem;
                @media (max-width:1399px) {
                    font-size: 1.1rem;
                    margin-bottom: 1.5rem;
                }
                @media (max-width:576px) {
                    font-size: 1rem;
                }
            }
            a{
                text-decoration: none;
                padding: 1rem;
                background-color: $verde;
                border-radius: 50px;
                color: white;
                font-weight: bold;
                font-size: 1.2rem;
                border: 2px $verde solid;
                transition: all 200ms;
                @media (max-width:576px) {
                    padding: .75rem;
                    font-size: 1.1rem;
                }
                &:hover{
                    background-color: transparent;
                }
            }
        }
    }
    #contactanos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        h1{
            font-size: 3.5rem;
            font-weight: bold;
            margin-bottom: 4rem;
            @media (max-width:576px) {
                font-size: 2.5rem;
            }
        }
        ul{
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0%;
            & li:nth-child(3){
                margin: 0%;
            }
            li{
                margin-right: 2rem;
                img{
                    transition: all 200ms;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
footer{
    background-color: $negro;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 1.2rem;
    @media screen and (max-width: 767px) {
        font-size: 1rem;
    }
    @media screen and (max-width: 424px) {
        font-size: .9rem;               
    }
    p{
        margin: 0%;
        padding: 0%;
    }
    a{
        font-weight: bold;
        text-decoration: none;
        color: white;
        transition: all 200ms;
        font-size: 1.5rem;
        @media screen and (max-width: 424px) {
            font-size: 1rem;               
        }
    }
}